// COLORS
    $cor-button: #FF0000;
    $cor-main-background:  #C4C4C4;
    $cor-background: #E5E5E5;
    $cor-text: #000;
    $cor-footer: #000;
    $cor-text-description: #9C9696;
    $cor-background-busca: #ffffff;

// FONT
  $font-geral: 'Roboto' , sans-serif;

